[submodule "config/base/quick-repl-history-search"]
	path = config/base/quick-repl-history-search
	url = git@github.com:sviridov/quick-repl-history-search.git
[submodule "config/base/dictem"]
	path = config/base/dictem
	url = git://github.com/cheusov/dictem.git
[submodule "config/common-lisp/ido-ql-quickload"]
	path = config/common-lisp/ido-ql-quickload
	url = git://github.com/sviridov/ido-ql-quickload.git
