[submodule "visual/powerline"]
	path = visual/powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
[submodule "base/smex"]
	path = base/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "base/magit"]
	path = base/magit
	url = git://github.com/magit/magit.git
[submodule "base/ido-ubiquitous"]
	path = base/ido-ubiquitous
	url = git://github.com/technomancy/ido-ubiquitous.git
[submodule "base/dash"]
	path = base/dash
	url = git://github.com/magnars/dash.el.git
[submodule "base/s"]
	path = base/s
	url = git://github.com/magnars/s.el.git
[submodule "base/ace-jump-mode"]
	path = base/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "base/multiple-cursors"]
	path = base/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
